<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.example.ms.TodoMapperXML.TodoMapper">

  <!-- todolist -->
    <select id="todolist" resultType="com.example.ms.Vo.TodoVo">
        SELECT * FROM todo ORDER BY position ASC
    </select>
 
 <!-- todolist(state) -->
 
 <select id="todoliststate" resultType="com.example.ms.Vo.TodoVo">
        SELECT * FROM todo WHERE complete = #{complete} ORDER BY position ASC
    </select>
 
 
    <!-- insert -->
    <select id="todoinsert" >
     INSERT INTO todo (
          title,
          content,
          position,
          duedate,
          complete
        ) VALUES (
          #{title},
          #{content},
          #{position},
          #{duedate},
          #{complete}
        )
    </select>
    
    <!--  read(update) -->
    <select id="read" resultType="com.example.ms.Vo.TodoVo">
        SELECT * FROM todo
        WHERE no = #{no}
       </select>
    
 
    <!--    update   -->
    <update id="todoupdate" >
      UPDATE todo SET      
      title = #{title},
      content = #{content},
      position = #{position},
      duedate = #{duedate},
      complete = #{complete}
      WHERE no = #{no}
    </update>
    
    <!-- SORT -->
    
    <!-- select -->
    <select id="todoposition" resultType="com.example.ms.Vo.TodoVo">
        SELECT * FROM todo where no = #{no}
    </select>
    
    
    <!--    delete   -->
    <delete id="tododelete">
      DELETE FROM todo
      WHERE no = #{no}
    </delete>
    
       <!--    update   -->
    <update id="todostateupdate" >
      UPDATE todo SET
      complete = #{complete},
      position = #{position}
      WHERE no = #{no}
    </update>
    
    
 </mapper>